.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!out/**/*.js
node_modules/**
*.vsix
**/*.d.ts
**/test/**
**/.nyc_output/**
**/coverage/**
**/.eslintcache
create-icon.ps1
*.svg